/* .embla__slide {
  flex: 0 0 auto;
}

.embla__slide img {
  height: 500px;
  border-radius: 10px;
}

.embla {
  width: 100%;
  overflow: hidden;
  overscroll-behavior-x: contain;
  touch-action: pan-y; 
}
.embla__container {
  display: flex;
  width: 100%;
} */

/* .embla__slide img {
  height: 500px;
  border-radius: 10px;
} */

.embla {
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 60%; /* Slide covers 50% of the viewport */
  min-width: 0;
}
/* 
.embla__slide:last-child {
  margin-right: 20px;
} */
