@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-blckMain: #202020;
  --color-gry: #757575;
  --color-whtContainer: #f0eff4;
  --color-containerBorder: #f5f5f5;
  --font-helvetica: "HelveticaNeueCyr", "Helvetica Neue", sans-serif;
  --shadow-soft: 0px 1px 4px rgba(32, 32, 32, 0.05);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

html,
body {
  overscroll-behavior: none;
  line-height: 140%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    letter-spacing: 0.04em;
  }
}

@layer utilities {
  .font-helvetica {
    font-family: var(--font-helvetica);
  }
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldCondensed.eot");
  src: local("Helvetica Neue Condensed Bold"),
    local("HelveticaNeueBoldCondensed"),
    url("/fonts/HelveticaNeueBoldCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
    url("/fonts/HelveticaNeueBoldCondensed.woff") format("woff"),
    url("/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackCondensed.eot");
  src: local("Helvetica Neue Condensed Black"),
    local("HelveticaNeueBlackCondensed"),
    url("/fonts/HelveticaNeueBlackCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"),
    url("/fonts/HelveticaNeueBlackCondensed.woff") format("woff"),
    url("/fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"),
    url("/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"),
    url("/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"),
    url("/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr-MediumItalic"),
    url("/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr-LightItalic"),
    url("/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-HeavyItalic.eot");
  src: local("HelveticaNeueCyr-HeavyItalic"),
    url("/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"),
    url("/fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Black.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"),
    url("/fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Italic.eot");
  src: local("HelveticaNeueCyr-Italic"),
    url("/fonts/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Italic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Italic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"),
    url("/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr-BlackItalic"),
    url("/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr-UltraLightItalic"),
    url("/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr-BoldItalic"),
    url("/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-ThinItalic.eot");
  src: local("HelveticaNeueCyr-ThinItalic"),
    url("/fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr-UltraLight"),
    url("/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"),
    url("/fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
